// Place all the styles related to the admins/items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.newb {
  font-size: 20px;
}

.container2 {
  display: flex;
}

.table-striped {
  margin: 40px 10px;
}

.box {
  font-size: 18px;
}