<div class="container">
  <div class="row">
    <div class="col-xs-5">
      <div class="function_title">
        <h3>会員一覧</h3>
      </div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>会員ID</th>
              <th>氏名</th>
              <th>メールアドレス</th>
              <th>ステータス</th>
              あああ
            </tr>
          </thead>
          <tbody>
            <% @customers.each do |customer| %>
            <tr>
              <td><%= link_to "詳細", admins_customer_path(customer.id) %></td>
              <!--customer_path(customer.id)-->
              <td></td>
              <td><%= customer.email %></td>
              <td>

              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>