<div class="container">
  <div class="row">
    <div class="col-xs">
      <div class="function_title">
        <h2>ショッピングカート</h2>
      </div>


        <table class="table table-striped">
          <thead class="head_data">
            <tr>
              <th>商品名</th>
              <th>税込価格</th>
              <th>数量</th>
              <th>小計</th>
              <th></th>
            </tr>
          </thead>
          <tbody class="cart_data">
            <% @cart_items.each do |item| %>

            <tr>
              <td><%= item.id %></td>
              
              <td><%= item.item_id %></td>
              
              <td><%= item.amount %> </td>
              
              <td>削除</td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

