// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.row {
  margin-top: 80px;
}

.head_data {
  font-size: 12px;
}

.item_data {
  font-size: 20px;
}

.col-xs-5 {
  text-align: right;
}

.col-xs-4 {
  font-size: 12px;
}

.col-xs-8 {
  font-size: 20px;
}

.switch {
  text-align: right;
  margin-top: 20pxß;
}

.newb {
  font-size: 30px;
  text-align: right;
}