<div class="container">
  <div class="row">
    <div class="col-xs-3">
      <% @genres.each do |genre| %>
      <div>ジャンル検索</div>
      
      
    </div>
    <div class="col-xs-9">
      <h2>
        <% if 
      </h2>
      <% @items.each do |item| %>
      <div class="form-group has-icon">
        <%= attachment_image_tag item, :image, format: 'png', fallback: "no_image.jpg", size: "100x100" %>
      </div>
      <div class="name"><%= @item.name %></div>
      <div class="price"><%= (@item.price*1.1).floor %>円</div>

      <div class="switch_right"><%= link_to "編集する", edit_admins_item_path(@item.id), class:"btn btn-primary" %></div>
      <% end %>
    </div>
  </div>
  
</div>
